/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --main-color: #000028;
  --accent-color: #FF0070; 
  --heading-color: #DB00FF;
  --text-color: #F1B2CE;
}


.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--main-color);
}

.rec {
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  top: 2px;
  padding-right: 19px;
}

.rec::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  right: 0px;
  top: 6px;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background: #ff0070;
  border-radius: 50%;
}

