/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
  --main-color: #000028;
  --accent-color: #ff0070;
  --h1-color: #db00ff;
  --h2-color: #ff0070;
  --heading-color: #000028;
  --text-color: #f1b2ce;
  --menu-link: #ff0070;
  --menu-link-activ: #ff0070;
  --menu-link-hover: rgba(255, 0, 112, 0.4);
  --menu-link-focus: #ff0070;
  --link-hover: #f1b2ce;
  --background: url('../images/cover-image-dark.png');
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: var(--background);
}

.theme_dark .rec {
  display: block;
}
