/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  color: var(--text-color);
  background-attachment: fixed;
  background-color: var(--main-color);
  background-image: var(--background);
  background-size: cover;
  background-position: center center;
  line-height: 23.4px;
  overflow: auto;
}

/* Header */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;
}

.rec {
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  top: 11px;
  padding-right: 19px;
}

.rec::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  right: 0px;
  top: 6px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
  border-radius: 50%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25.04px;
  height: 25px;
  border-right: 1px solid var(--menu-link);
  border-top: 1px solid var(--menu-link);
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25.04px;
  height: 25px;
  border-bottom: 1px solid var(--menu-link);
  border-left: 1px solid var(--menu-link);
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  justify-self: end;
  padding-block-start: 64px;
}

.header__theme-menu-button {
  color: var(--menu-link);
  border: initial;
  line-height: 18px;
  cursor: pointer;
  text-transform: lowercase;
  padding: 2px 13px 2px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-link-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-link-focus);
  outline: initial;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-link-activ);
  pointer-events: none;
}

.header__theme-menu-item {
  padding-block-end: 13px;
}

.header__theme-menu-item:last-child {
  padding-block-end: 0;
}

/* End of Header*/

/* Content */

.main {
  padding: 40px 10px 0 10px;
}

.main-heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--h1-color);
  line-height: 82.5%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: flex-start;
}

.section-heading {
  color: var(--h2-color);
  font-size: 18px;
  font-weight: 700;
}

.section-heading,
.title-decor {
  font-weight: 700;
}

.section-heading,
.title-decor,
.list-item-heading {
  font-size: 18px;
}

.list-item-heading,
.title-decor {
  color: var(--heading-color);
  background: var(--accent-color);
}

.list-item-heading {
  font-weight: 400;
}

.title-decor {
  line-height: 23.4px;
}

.sub-title {
  height: fit-content;
  align-self: center;
}

.section {
  padding-block-end: 50px;
  display: grid;
  gap: 20px;
}

.section-content,
.list {
  display: grid;
  gap: 20px;
}

.list__item {
  display: grid;
  gap: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 2px solid var(--link-hover);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

/* End of Content */

/* Gallery */
.gallery-section {
  padding-block-end: 40px;
}

.gallery,
.article {
  display: grid;
  gap: 10px;
  grid-template-rows: min-content auto;
}

.gal-item {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* End of Gallery */

/* Footer */

.footer {
  display: grid;
  padding: 10px;
  min-block-size: 648px;
  block-size: 100vh;
}

.footer-heading {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--h1-color);
  line-height: 86.5%;
  font-weight: 700;
  align-self: center;
  justify-self: center;
}

/*End of footer */

/* Media */
@media (width >= 768px) {
  .main {
    padding: 60px 20px 0 20px;
  }

  .header,
  .footer {
    min-block-size: 1024px;
    block-size: 100vh;
    padding: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .rec {
    right: 30px;
    top: 23px;
  }

  .header__theme-menu {
    padding-block-start: 171px;
  }

  .main-heading {
    transform: translateX(-20px);
  }

  .sub-title {
    width: 50%;
    margin-inline-start: auto;
  }

  .section-why,
  .section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section-why .section-content,
  .section-how .section-content {
    padding-block-start: 0;
  }

  .section {
    padding-block-end: 80px;
  }

  .section-what-heading {
    width: 32%;
  }

  .gallery-section {
    padding-block-end: 60px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-block-start: 10px;
  }

  .img-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .img-ice-crea {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .img-tape {
    grid-column: 1/ 2;
    grid-row: 2 / 4;
  }

  .img-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .img-street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-block-size: 768px;
    block-size: 100vh;
  }

  .header__theme-menu {
    padding-block-start: 0;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .main-heading,
  .footer-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section-what .section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-why,
  .section-how {
    gap: 10px;
  }

  .img5 {
    height: calc(100% - 5px);
    object-fit: cover;
    width: 100%;
    align-self: end;
  }
}

/* end of Media */
